<div class="container">

  <h3>Dialogs</h3>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2">Quest:</label>
      <div class="col-sm-4">
        <select class="form-control pull-left" ng-model="selectedQuest" ng-change="reload()">
          <option></option>
          <option ng-repeat="quest in quests" value="{{quest.ID}}">{{quest.Title}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <a type="button" href="#/dialogs/CreateDialog" class="btn btn-primary btn-sm pull-right">Create Dialog</a>
      </div>
    </div>
  </form>

  <br/>
  <hr/>
  <table class="table">
    <thead>
    <tr>
      <th>Dialog</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="dialog in dialogs">
      <td>{{dialog.Nodes[0].text}}</td>
      <td>
        <a type="button" href="#/dialogs/EditDialogs/{{dialog.ID}}" class="btn btn-primary btn-sm">Edit Dialog</a>
      </td>
      <td>
        <button type="button" ng-click="delete(dialog)" class="btn btn-primary btn-sm btn-danger"
                confirm="Are you sure you want to delete: {{dialog.Title}}?">Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
