<div class="container">
  <div class="row">
    <h4>Save/Edit Dialog</h4>
  </div>
  <div class="row">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-2">Npc:</label>

        <div class="col-md-10">
          <select class="form-control" ng-model="npcId">
            <option></option>
            <option ng-repeat="npc in npcs" value="{{npc.ID}}">{{npc.Title}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Quest:</label>

        <div class="col-md-10">
          <select class="form-control" ng-model="questId">
            <option></option>
            <option ng-repeat="quest in quests" value="{{quest.ID}}">{{quest.Title}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button type="button" ng-click="save()" class="btn btn-primary btn-sm pull-right">Save</button>
          <button type="button" ng-click="createQuestion()"
                  class="btn btn-primary btn-sm pull-right">Create Question/Statement
          </button>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Dialog:</label>

        <div class="col-md-10">
          <!-- Nested node template -->
          <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle ng-if="node.type == 'question'" class="tree-node-question tree-node-content">
              <a class="btn btn-info btn-xs" data-nodrag ng-click="editItem(node)"><span
                class="glyphicon glyphicon-pencil"></span></a>
              {{cut(node.text)}}
              <a class="pull-right btn btn-danger btn-xs" data-nodrag
                 confirm="Are you sure you want to delete: {{node.text}}?"
                 ng-click="removeItem(node, this)"><span
                class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div ui-tree-handle ng-if="node.type == 'answer'" class="tree-node-answer tree-node-content">
              {{cut(node.text)}}
            </div>
            <ol ui-tree-nodes="" ng-if="node.type == 'answer'" ng-model="node.next" ng-class="{hidden: collapsed}">
              <li ng-repeat="node in node.next" ui-tree-node ng-include="'nodes_renderer.html'">
              </li>
            </ol>
            <ol ui-tree-nodes="" ng-if="node.type == 'question'" ng-model="node.answers" ng-class="{hidden: collapsed}">
              <li ng-repeat="node in node.answers" ui-tree-node ng-include="'nodes_renderer.html'">
              </li>
            </ol>
          </script>

          <div ui-tree data-drag-enabled="false" id="tree-root">
            <ol ui-tree-nodes ng-model="data">
              <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
          </div>

        </div>
      </div>

    </form>
  </div>

</div>

