<div class="container">

  <h3>Admin Users</h3>
  <hr/>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Roles</th>
      <th>Last Logged In</th>
      <th>Modify Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="adminUser in adminUsers">
      <td>{{adminUser.UserName}}</td>
      <td>
        <span ng-repeat="role in adminUser.UserRoles">{{role}},</span>
      </td>
      <td>{{adminUser.LastLogin}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Edit Roles</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

