<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">LangAdventure</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav" ng-show="isLoggedIn">
          <li ng-class="{active: $route.current.activeTab == 'Home'}"><a href="#/">Home</a></li>
          <li ng-class="{active: $route.current.activeTab == 'Users'}"><a ng-href="#/adminUsers/AdminUserManagement">Users</a></li>
          <li ng-class="{active: $route.current.activeTab == 'Stories'}"><a ng-href="#/story/StoryManagement">Stories</a></li>
          <li ng-class="{active: $route.current.activeTab == 'Quests'}"><a ng-href="#/quest/QuestManagement">Quests</a></li>
          <li ng-class="{active: $route.current.activeTab == 'Dialogs'}"><a ng-href="#/dialogs/DialogsManagement">Dialogs</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="" data-toggle="dropdown">
              <img width="25" height="25" src="http://graph.facebook.com/{{user.fbUserId}}/picture?type=normal"
                   class="profile-image img-circle"> {{user.userName}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Sign-out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
